.cookie-alert {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    background: rgba(0,0,0,0.85);
}
.cookie-alert_container {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 13px;
    color: white;
    font-family: Arial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cookie-alert_container * {
    all: unset;
}
.cookie-alert_container>p {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding:15px;
    text-align: justify;
    line-height: 1.35;
}
.cookie-alert_container>p>a {
    text-decoration: underline;
    color: white;
}
.cookie-alert_container>p>a:hover {
    cursor: pointer;
}
.cookie-alert_container>span {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 15px;
    white-space: nowrap;
}
.cookie-alert_container>span>button {
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: unset;
    padding: 10px 15px;
    outline:none;
}
.cookie-alert_container>span>button:hover {
    all: unset;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: unset;
    padding: 10px 15px;
    outline:none;
    cursor: pointer;
}
@media (max-width: 480px) {
    .cookie-alert_container>p, .cookie-alert_container>span {
        -webkit-box-flex: 0;
        -ms-flex: 0 100%;
        flex: 0 100%;
    }
    .cookie-alert_container>span {
        padding-top: 0px;
        text-align: center;
    }
}